<header class="header">
  <div class="header__container">
    <div class="header__flex-box">
      <div class="header__cms">cms</div>
      <div class="header__right">
        <a href="/messenger" class="header__massage">
          <img id="bell__img" src="./img/bell.svg" alt="bell" />
          <div class="modal__masage">
            <div class="modal__masage-container">
              <div class="modal__masage-adreser">
                <div class="modal__masage-image">
                  <img src="./img/cat.jpg" alt="cat" />
                </div>
                <span>Admin</span>
              </div>
              <div class="modal__masage-box"></div>
            </div>
            <div class="modal__masage-container">
              <div class="modal__masage-adreser">
                <div class="modal__masage-image">
                  <img src="./img/cat.jpg" alt="cat" />
                </div>
                <span>Admin</span>
              </div>
              <div class="modal__masage-box"></div>
            </div>
            <div class="modal__masage-container">
              <div class="modal__masage-adreser">
                <div class="modal__masage-image">
                  <img src="./img/cat.jpg" alt="cat" />
                </div>
                <span>Admin</span>
              </div>
              <div class="modal__masage-box"></div>
            </div>
          </div>
        </a>
        <div class="header__account">
          <div class="account__img">
            <img src="./img/cat.jpg" alt="cat" />
          </div>
          <div class="account__name"><%= me.name %></div>

          <div class="modal__account">
            <a href="#" class="modal__account-block">
              <span>Profile</span>
            </a>
            <div
              onclick="return false;"
              href="/"
              data-login="<%= loginStatus %>"
              class="modal__account-block"
            >
              <span> <%= loginStatus %> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="login__page">
  <div id="loginForm">
    <h2>Login</h2>
    <input type="text" id="loginUsername" placeholder="Username" required />
    <input type="password" id="loginPassword" placeholder="Password" required />
    <button id="try__login">Log in</button>
  </div>
</div>
