<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="vns">

    <title>Students</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="./img/cat.jpg">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="./css/tasks.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__flex-box">
                    <div class="header__cms">cms</div>
                    <div class="header__right">
                        <div class="header__massage">
                            <img id="bell__img" src="./img/bell.svg" alt="bell">
                            <div class="modal__masage">
                                <div class="modal__masage-container ">
                                    <div class="modal__masage-adreser">
                                        <div class="modal__masage-image">
                                            <img src="./img/cat.jpg" alt="cat">
                                        </div>
                                        <span>Admin</span>
                                    </div>
                                    <div class="modal__masage-box"></div>
                                </div>
                                <div class="modal__masage-container">
                                    <div class="modal__masage-adreser">
                                        <div class="modal__masage-image">
                                            <img src="./img/cat.jpg" alt="cat">
                                        </div>
                                        <span>Admin</span>
                                    </div>
                                    <div class="modal__masage-box"></div>
                                </div>
                                <div class="modal__masage-container">
                                    <div class="modal__masage-adreser">
                                        <div class="modal__masage-image">
                                            <img src="./img/cat.jpg" alt="cat">
                                        </div>
                                        <span>Admin</span>
                                    </div>
                                    <div class="modal__masage-box"></div>
                                </div>
                            </div>
                        </div>
                        <div class="header__account">
                            <div class="account__img">
                                <img src="./img/cat.jpg" alt="cat">
                            </div>
                            <div class="account__name">
                                <%= me.name %>
                            </div>

                            <div class="modal__account">
                                <a href="#" class="modal__account-block">
                                    <span>Profile</span>
                                </a>
                                <div onclick="return false;" href="/" data-login="<%= loginStatus %>"
                                    class="modal__account-block">

                                    <span>
                                        <%= loginStatus %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class=" login__page">
            <div id="loginForm">
                <h2>Login</h2>
                <input type="text" id="loginUsername" placeholder="Username" required>
                <input type="password" id="loginPassword" placeholder="Password" required>
                <button id="try__login">Log in</button>
            </div>
        </div>
        <main class="main">
            <div class="main__container containerr">
                <div class="main__flex-box">
                    <nav class="navigation">
                        <div class="navigation__block">
                            <a href="./bootstrap/bootstrap.html" onclick="return false;">Dashboard</a>
                        </div>
                        <div class="navigation__block students">
                            <a href="/" onclick="return false;">Students</a>
                        </div>
                        <div class="navigation__block task">
                            <a href="/" onclick="return false;">Tasks</a>
                        </div>
                    </nav>
                    <section class="content">
                        <h1 class="main__title">Students</h1>
                        <button class="add__student show__form">+</button>
                        <div class="table__container">
                            <table class="table">
                                <thead class="table__head">
                                    <tr class="table__title">
                                        <th class="table__content">
                                            <label for="checkbox1"><span>1</span><input type="checkbox" name="checkbox1"
                                                    class="checkbox"></label>
                                        </th>
                                        <th class="table__content"><span>Group</span></th>
                                        <th class="table__content table__title-name"><span>Name</span></th>
                                        <th class="table__content table__title-gender"><span>Gender</span></th>
                                        <th class="table__content"><span>Birthday</span></th>
                                        <th class="table__content table__title-status"><span>Status</span></th>
                                        <th class="table__content table__title-options"><span>Options</span></th>
                                    </tr>
                                </thead>
                                <tbody class="table__body">
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section class="task">
                        <div class="container-fluid">
                            <h1 class="display-5">Tasks</h1>
                            <label for="">New task name</label>
                            <input class="input-group-text" id="new-task__name" required type="text">
                            <label for="">New task date</label>
                            <input class="mb-5 input-group-text" id="new-task__date" required type="date">
                            <div class="container-fluid">
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                                    <div class="col-lg">
                                        <div class="parent-node d-flex flex-column p-4 bg-warning text-white h-100">
                                            <h3 class="text-center display-7">To do</h3>
                                            <div class="h4 empty__massage">List empty...</div>
                                            <ul class="flex-grow-1 my-4 list-group">

                                            </ul>
                                            <button class="add-task__button btn text-black bg-white" type="submit">+ Add
                                                task</button><button
                                                class="create-task__button btn text-black bg-white mt-2"
                                                type="submit">Create new one</button>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="parent-node d-flex flex-column p-4 bg-secondary text-white h-100">
                                            <h3 class="text-center display-7">In progress</h3>
                                            <div class="h4 empty__massage">List empty...</div>
                                            <ul class="flex-grow-1 my-4 list-group">

                                            </ul>
                                            <button class="add-task__button btn text-black bg-white" type="submit">+ Add
                                                task</button>
                                            <button class="create-task__button btn text-black bg-white mt-2"
                                                type="submit">Create new one</button>
                                        </div>
                                    </div>
                                    <div class="col-lg col-md-12">
                                        <div class="parent-node d-flex flex-column p-4 bg-success text-white h-100">
                                            <h3 class="text-center display-7">Done</h3>
                                            <div class="h4 empty__massage">List empty...</div>
                                            <ul class="flex-grow-1 my-4 list-group">

                                            </ul>
                                            <button class="add-task__button btn text-black bg-white" type="submit">+ Add
                                                task</button><button
                                                class="create-task__button btn text-black bg-white mt-2"
                                                type="submit">Create new one</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="chat">
                        <button id="create__room">+</button>
                        <section class="m-content">
                            <div class="content-item">
                                <h1 class="main__title">Group Massages</h1>

                                <ul class="groups-list">

                                </ul>
                            </div>
                            <div class="content-item">
                                <h1 class="main__title">Users</h1>
                                <ul class="users">
                                    <% if (me.name!='User' ) { %>
                                        <% users.forEach(element=> { %>
                                            <% if (element.name !=me.name) { %>
                                                <li data-index=<%=element._id%> >
                                                    <%= element.name %>
                                                        <button class="start__conversation">Write</button>
                                                </li>
                                                <% } %>
                                                    <% }) %>
                                                        <% } %>

                                </ul>
                            </div>
                            <div class="form">
                                <div class="form-container">
                                    <label for="">Group Name</label>
                                    <input style="margin-bottom: 20px; border: 1px solid #000;" name="room__name"
                                        type="text">
                                    <ul>
                                        <% if (me.name!='User' ) { %>
                                            <% users.forEach(element=> { %>
                                                <% if (element.name !=me.name) { %>
                                                    <li data-index=<%=element._id%> >
                                                        <input name="user" type="checkbox" name="add__toChat">
                                                        <%= element.name %>

                                                    </li>
                                                    <% } %>
                                                        <% }) %>
                                                            <% } %>
                                    </ul>

                                    <button id="new__chat">Create</button>
                                </div>

                            </div>
                        </section>
                    </section>



                </div>
            </div>
        </main>
    </div>



    <div class="adding__page">
        <div class="adding__block">
            <div class="adding__header">
                <h2 class="chaning__title"> Student changing title</h2>
                <button onclick="hideAddingPage()">X</button>
            </div>
            <!-- method="post" action="/check-user"  -->
            <form class="adding__form">
                <div class="form__flex-box">
                    <input class="id__input" type="hidden" name="id">
                    <div class="form__item">
                        <select class="group__input  input" name="group_name">
                            <option value="" selected hidden>Select Group</option>
                            <option value="PZ-25">PZ-25</option>
                            <option value="PZ-26">PZ-26</option>
                        </select>
                    </div>
                    <div class="form__item">
                        <input class="fname__input input" type="text" name="fname" placeholder="First name">
                    </div>
                    <div class="form__item">
                        <input class="lname__input input" type="text" name="lname" placeholder="Last name">
                    </div>
                    <div class="form__item">
                        <select class="gender__input  input" name="gender">
                            <option value="" selected hidden>Select Gender</option>
                            <option value="F">F</option>
                            <option value="M">M</option>
                        </select>
                    </div>
                    <div class="form__item">
                        <input class="birthday__input input" type="date" name="birthday">
                    </div>
                    <div class=" adding__footer">
                        <button type="button" class="confirm__edit">Ok</button>
                        <button type="button" class="confirm__adding">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="warning__page">
        <div class=" warning__block">
            <div class=" warning__header">
                <h2>Warning</h2>
                <button onclick="{document.querySelector('.warning__page').style.display = 'none'}">X</button>
            </div>
            <div class="warning__main">Are you sure you want to delete user?</div>
            <div class=" warning__footer">
                <button class="confirm__warning">Ok</button>
                <button onclick="{document.querySelector('.warning__page').style.display = 'none'}">Cansel</button>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>



    <script src="./js/header.js"></script>
    <script src="./js/chat.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/tasks.js"></script>
</body>

</html>