<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="vns" />

    <title>Students</title>

    <link rel="icon" type="image/png" href="./img/cat.jpg" />
  </head>

  <body>
    <div class="wrapper"><%- include('./header')%></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const contentDOMBlock = document.querySelector(".content");
      const chatDOMBlock = document.querySelector(".chat");

      const messageInput = document.getElementById("message-input");
      const messageForm = document.getElementById("chat-form");

      fetch("/load-data")
        .then((res) => res.json())
        .then((usersArray) => {
          console.log(usersArray);

          const usersDOMBlock = document.querySelector(".users");
          usersArray.forEach((item) => {
            const li = document.createElement("li");
            li.className = "users-item";
            li.dataset.index = item.id;

            li.innerHTML = ` 
                        <a href="#" class="user">
                            <div class="user__image">
                                <img src="./img/cat.jpg" alt="cat">
                            </div>
                            <div class="user__name">
                                <span>${item.fname} ${item.lname}</span>
                            </div>
                        </a>`;
            usersDOMBlock.appendChild(li);

            li.addEventListener("click", () => {
              console.log(contentDOMBlock, chatDOMBlock);
              contentDOMBlock.style.display = "none";

              chatDOMBlock.style.display = "block";
              chatDOMBlock.querySelector(".main__title").textContent =
                chatDOMBlock.querySelector(".main__title").textContent +
                li.querySelector("span").textContent;
            });
          });
        });

      socket.on("chat message", function (data) {
        const item = document.createElement("li");
        item.innerHTML = `
                    <span>
                        ${data.message}    
                    </span >`;
        item.className = "massage-item";

        document.querySelector(".massage-list").appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
      messageForm.addEventListener("submit", function (e) {
        e.preventDefault();
        socket.emit("chat message", messageInput.value);
        messageInput.value = "";
      });
    </script>

    <!--



    <div class="adding__page">
        <div class="adding__block">
            <div class="adding__header">
                <h2 class="chaning__title"> Student changing title</h2>
                <button onclick="hideAddingPage()">X</button>
            </div>
            <form class="adding__form">
                <div class="form__flex-box">
                    <input class="id__input" type="hidden" name="id">
                    <div class="form__item">
                        <select class="group__input  input" name="group_name">
                            <option value="" selected hidden>Select Group</option>
                            <option value="PZ-25">PZ-25</option>
                            <option value="PZ-26">PZ-26</option>
                        </select>
                    </div>
                    <div class="form__item">
                        <input class="fname__input input" type="text" name="fname" placeholder="First name">
                    </div>
                    <div class="form__item">
                        <input class="lname__input input" type="text" name="lname" placeholder="Last name">
                    </div>
                    <div class="form__item">
                        <select class="gender__input  input" name="gender">
                            <option value="" selected hidden>Select Gender</option>
                            <option value="F">F</option>
                            <option value="M">M</option>
                        </select>
                    </div>
                    <div class="form__item">
                        <input class="birthday__input input" type="date" name="birthday">
                    </div>
                    <div class=" adding__footer">
                        <button type="button" class="confirm__edit">Ok</button>
                        <button type="button" class="confirm__adding">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="warning__page">
        <div class=" warning__block">
            <div class=" warning__header">
                <h2>Warning</h2>
                <button onclick="{document.querySelector('.warning__page').style.display = 'none'}">X</button>
            </div>
            <div class="warning__main">Are you sure you want to delete user?</div>
            <div class=" warning__footer">
                <button class="confirm__warning">Ok</button>
                <button onclick="{document.querySelector('.warning__page').style.display = 'none'}">Cansel</button>
            </div>
        </div>
    </div>
-->
    <script src="./js/header.js"></script>
    <!-- <script src="./js/script.js"></script> -->
  </body>
</html>
