<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/style.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      #username-form {
        margin-bottom: 20px;
      }

      .content {
        display: flex;
      }

      .content-item {
        flex: 0 1 50%;
      }

      #username-form {
        margin-bottom: 20px;
      }

      .contentttt {
        display: flex;
      }

      .content-item {
        flex: 0 1 50%;
      }

      ul {
        height: 500px;
        overflow: auto;
      }

      h1 {
        margin-bottom: 10px;
        font-size: 40px;
      }

      button {
        padding: 15px 30px;
        width: 30%;
      }

      input {
        border: 1px solid #000;
        width: 70%;
      }

      .add-user-modal {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: transparent;
        display: none;
      }

      .add-user-modal__flex-bog {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .add-user-modal__container {
        padding: 100px 200px;
        background: #7b7b7b;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__container">
          <div class="header__flex-box">
            <div class="header__cms">cms</div>
            <div class="header__right">
              <div class="header__massage">
                <img id="bell__img" src="./img/bell.svg" alt="bell" />
                <div class="modal__masage">
                  <div class="modal__masage-container">
                    <div class="modal__masage-adreser">
                      <div class="modal__masage-image">
                        <img src="./img/cat.jpg" alt="cat" />
                      </div>
                      <span>Admin</span>
                    </div>
                    <div class="modal__masage-box"></div>
                  </div>
                  <div class="modal__masage-container">
                    <div class="modal__masage-adreser">
                      <div class="modal__masage-image">
                        <img src="./img/cat.jpg" alt="cat" />
                      </div>
                      <span>Admin</span>
                    </div>
                    <div class="modal__masage-box"></div>
                  </div>
                  <div class="modal__masage-container">
                    <div class="modal__masage-adreser">
                      <div class="modal__masage-image">
                        <img src="./img/cat.jpg" alt="cat" />
                      </div>
                      <span>Admin</span>
                    </div>
                    <div class="modal__masage-box"></div>
                  </div>
                </div>
              </div>
              <div class="header__account">
                <div class="account__img">
                  <img src="./img/cat.jpg" alt="cat" />
                </div>
                <div class="account__name"><%= user.name %></div>

                <div class="modal__account">
                  <a href="#" class="modal__account-block">
                    <span>Profile</span>
                  </a>
                  <div
                    onclick="return false;"
                    href="/"
                    data-login="Log out"
                    class="modal__account-block"
                  >
                    <span> Log out </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="login__page">
        <div id="loginForm">
          <h2>Login</h2>
          <input
            type="text"
            id="loginUsername"
            placeholder="Username"
            required
          />
          <input
            type="password"
            id="loginPassword"
            placeholder="Password"
            required
          />
          <button id="try__login">Log in</button>
        </div>
      </div>
      <main class="main">
        <div class="main__container containerr">
          <div class="main__flex-box">
            <nav class="navigation">
              <div class="navigation__block">
                <a href="./bootstrap/bootstrap.html" onclick="return false;"
                  >Dashboard</a
                >
              </div>
              <div class="navigation__block students">
                <a href="/" onclick="return false;">Students</a>
              </div>
              <div class="navigation__block task">
                <a href="/" onclick="return false;">Tasks</a>
              </div>
            </nav>
            <div style="margin-left: 60px">
              <div>
                <h1><%= title %></h1>
              </div>

              <section class="contentttt">
                <div class="content-item">
                  <h2 style="font-size: 25x" class="main__title">Massages</h2>

                  <ul></ul>

                  <div
                    style="
                      margin-top: 20px;
                      width: calc(100vw - 400px);
                      display: flex;
                      justify-content: space-between;
                    "
                  >
                    <input
                      id="input"
                      style="display: inline-block; margin-right: 50px"
                      type="text"
                    /><button style="display: inline-block" id="send__massage">
                      Send massage
                    </button>

                    <!-- <input type="text"><button>Send massage</button> -->
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/script.js"></script>
    <script>
      window.addEventListener("load", async () => {
        const roomId = `<%= roomId %>`;
        const userId = `<%= user._id %>`;
        const myName = `<%= user.name %>`;
        const users = {};

        const socket = io();

        socket.on("chat message", function (message, sender, maintainer) {
          if (maintainer == roomId) {
            const item = document.createElement("li");

            item.textContent = `${sender}: ${message}`;

            document.querySelector("ul").appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
          }
        });

        document
          .querySelector("#send__massage")
          .addEventListener("click", () => {
            const massage = document.querySelector("#input").value;

            const sentData = {
              sender: userId,
              text: massage,
              conversationId: roomId,
            };
            socket.emit("chat message", massage, myName, roomId);
            // renderMassage(myName, massage)
            fetch("/massages", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(sentData),
            });
          });

        function renderMassage(sender, massage) {
          const li = document.createElement("li");
          li.textContent = `${sender}: ${massage}`;
          document.querySelector("ul").appendChild(li);
        }

        const fetchUsersByRoom = async (roomId) => {
          const response = await fetch("/getUserByRoom/" + roomId);
          const data = await response.json();

          const userFetchPromises = data.users.map(async (userId) => {
            const resp = await fetch("/user/" + userId);
            const user = await resp.json();
            return { id: userId, name: user.name };
          });

          const usersArray = await Promise.all(userFetchPromises);
          const users = {};
          usersArray.forEach((user) => {
            users[user.id] = user.name;
          });

          return users;
        };

        const fetchMessagesAndRender = async (roomId, users) => {
          const resp = await fetch(`/massages/${roomId}`);
          const data = await resp.json();
          data.forEach((element) => {
            const senderId = element.sender;
            console.log(users[senderId]);
            renderMassage(users[senderId], element.text);
          });
        };

        (async () => {
          const users = await fetchUsersByRoom(roomId);
          console.log(users);
          await fetchMessagesAndRender(roomId, users);
        })();

        document.querySelectorAll(".navigation__block").forEach((i) => {
          i.addEventListener("click", () => {
            window.location.href = `/?userId=${userId}`;
          });
        });
        document
          .querySelector(".header__massage")
          .addEventListener("click", () => {
            window.location.href = `/?userId=${userId}`;
          });
      });
    </script>
  </body>
</html>
