<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="vns" />

    <title>Students</title>
    <link
      href="./css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="icon" type="image/png" href="./img/cat.jpg" />
    <link rel="stylesheet" href="./css/style.css" />

    <link rel="stylesheet" href="./css/tasks.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__container">
          <div class="header__flex-box">
            <div class="header__cms">cms</div>
            <div class="header__right">
              <div class="header__massage">
                <img id="bell__img" src="./img/bell.svg" alt="bell" />
                <div class="modal__masage">
                  <div class="modal__masage-container">
                    <div class="modal__masage-adreser">
                      <div class="modal__masage-image">
                        <img src="./img/cat.jpg" alt="cat" />
                      </div>
                      <span>Admin</span>
                    </div>
                    <div class="modal__masage-box"></div>
                  </div>
                  <div class="modal__masage-container">
                    <div class="modal__masage-adreser">
                      <div class="modal__masage-image">
                        <img src="./img/cat.jpg" alt="cat" />
                      </div>
                      <span>Admin</span>
                    </div>
                    <div class="modal__masage-box"></div>
                  </div>
                  <div class="modal__masage-container">
                    <div class="modal__masage-adreser">
                      <div class="modal__masage-image">
                        <img src="./img/cat.jpg" alt="cat" />
                      </div>
                      <span>Admin</span>
                    </div>
                    <div class="modal__masage-box"></div>
                  </div>
                </div>
              </div>
              <div class="header__account">
                <div class="account__img">
                  <img src="./img/cat.jpg" alt="cat" />
                </div>
                <div class="account__name"><%= user.name %></div>

                <div class="modal__account">
                  <a href="#" class="modal__account-block">
                    <span>Profile</span>
                  </a>
                  <div
                    onclick="return false;"
                    href="/"
                    data-login="<%= loginStatus %>"
                    class="modal__account-block"
                  >
                    <span> <%= loginStatus %> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="login__page">
        <div id="loginForm">
          <h2>Login</h2>
          <input
            type="text"
            id="loginUsername"
            placeholder="Username"
            required
          />
          <input
            type="password"
            id="loginPassword"
            placeholder="Password"
            required
          />
          <button id="try__login">Log in</button>
        </div>
      </div>
      <main class="main">
        <div class="main__container containerr">
          <div class="main__flex-box">
            <nav class="navigation">
              <div class="navigation__block">
                <a href="./bootstrap/bootstrap.html" onclick="return false;"
                  >Dashboard</a
                >
              </div>
              <div class="navigation__block students">
                <a href="/" onclick="return false;">Students</a>
              </div>
              <div class="navigation__block task">
                <a href="/" onclick="return false;">Tasks</a>
              </div>
            </nav>

            <h1><%= title %></h1>
            <h1>Username: <%= user.name %></h1>
            <h1>RoomId: <%= roomId %></h1>
            <section class="content">
              <div class="content-item">
                <h1 class="main__title">Massages</h1>

                <ul></ul>
                <input type="text" /><button>Send massage</button>
              </div>
            </section>
          </div>
        </div>
      </main>
    </div>

    <div class="warning__page">
      <div class="warning__block">
        <div class="warning__header">
          <h2>Warning</h2>
          <button
            onclick="{document.querySelector('.warning__page').style.display = 'none'}"
          >
            X
          </button>
        </div>
        <div class="warning__main">Are you sure you want to delete user?</div>
        <div class="warning__footer">
          <button class="confirm__warning">Ok</button>
          <button
            onclick="{document.querySelector('.warning__page').style.display = 'none'}"
          >
            Cansel
          </button>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/chat.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
