<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="icon" type="image/png" href="./img/cat.jpg">

    <link href="./css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/tasks.css">
</head>

<body>
    <div class="wrapper">
        <%- include('./header')%>
            <main class="main">
                <div class="main__container">
                    <div class="main__flex-box">
                        <nav class="navigation">
                            <div class="navigation__block">
                                <a href="../bootstrap/bootstrap.html">Dashboard</a>
                            </div>
                            <div class="navigation__block">
                                <a href="/">Students</a>
                            </div>
                            <div class="navigation__block">
                                <a href="/tasks">Tasks</a>
                            </div>
                        </nav>
                        <section class="task">
                            <div class="container-fluid">
                                <h1 class="display-5">Tasks</h1>

                                <div class="container-fluid">
                                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                                        <div class="col-lg">
                                            <div class="parent-node d-flex flex-column p-4 bg-warning text-white h-100">
                                                <h3 class="text-center display-7">To do</h3>
                                                <div class="h4 empty__massage">List empty...</div>
                                                <ul class="flex-grow-1 my-4 list-group">
                                                    <li class="list-group-item py-4">
                                                        <span>Task 1</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task 2</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task #</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task #</span>
                                                        <span>01.01</span>
                                                    </li>
                                                </ul>
                                                <button class="btn text-black bg-white" type="submit">+ Add
                                                    task</button>
                                            </div>
                                        </div>
                                        <div class="col-lg">
                                            <div
                                                class="parent-node d-flex flex-column p-4 bg-secondary text-white h-100">
                                                <h3 class="text-center display-7">In progress</h3>
                                                <div class="h4 empty__massage">List empty...</div>
                                                <ul class="flex-grow-1 my-4 list-group">
                                                    <li class="list-group-item py-4">
                                                        <span>Task 3</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task 4</span>
                                                        <span>01.01</span>
                                                    </li>
                                                </ul>
                                                <button class="btn text-black bg-white" type="submit">+ Add
                                                    task</button>
                                            </div>
                                        </div>
                                        <div class="col-lg col-md-12">
                                            <div class="parent-node d-flex flex-column p-4 bg-success text-white h-100">
                                                <h3 class="text-center display-7">Done</h3>
                                                <div class="h4 empty__massage">List empty...</div>
                                                <ul class="flex-grow-1 my-4 list-group">
                                                    <li class="list-group-item py-4">
                                                        <span>Task 5</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task #</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task #</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task #</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task #</span>
                                                        <span>01.01</span>
                                                    </li>
                                                    <li class="list-group-item py-4">
                                                        <span>Task #</span>
                                                        <span>01.01</span>
                                                    </li>
                                                </ul>
                                                <button class="btn text-black bg-white" type="submit">+ Add
                                                    task</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
    </div>






    <script src="./js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="./js/header.js"></script>
    <script src="./js/tasks.js"></script>
</body>

</html>