@import url('./null_style.css');
@import url('./header.css');


/* =============== main ============== */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}


.main__container {
    margin-inline: auto;
    padding-right: 30px;
}

.main__flex-box {
    display: flex;
    min-height: calc(100vh - 70px);
    align-items: stretch;
}

.content {
    flex: 1 1 auto;
    padding: 0 20px;
}

/* ================= navigation ====================== */

.navigation {
    flex: 0 1 150px;
    background: #123f7399;
    padding: 30px 60px;
}

.navigation__block {
    margin-bottom: 30px;
}

.navigation__block a {
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s;
}

.navigation__block a:hover {
    text-shadow: 1px 1px 2px #000;
    text-decoration: underline;
}

/* ================== warning =========================================== */


.warning__block {
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #222222;
}


.warning__main {
    height: 65%;
    border-bottom: 1px solid #222222;
    padding: 10% 20px;
    font-weight: 500;
    font-size: 40px;
}

.warning__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
}

th span {
    font-size: 14px;
    font-weight: 400;
}





/* ============== responsive ===================================================== */


@media (max-width: 1250px) {
    .main__flex-box {
        display: block;
    }

    .content {
        padding: 0 10px;
    }

    .adding__page {
        padding-inline: 10px;
    }


    .navigation {
        display: flex;
        padding: 20px 50px;
        justify-content: space-between;
    }

    .navigation__block {
        margin: 0;
    }

    .main__container {
        padding: 0;
    }

    .main__title {
        margin: 30px 0 20px;
    }

    .table__title,
    .table__rows {
        grid-template-columns: 50px repeat(2, calc(100% / 4 - 170px / 4)) 70px calc(100% / 4 - 170px / 4) 50px calc(100% / 4 - 170px / 4);
    }
}

@media (max-width: 850px) {


    .main__container {
        padding: 0;
    }

    .table__title,
    .table__rows {
        grid-template-columns: 40px 65px auto 70px 100px 50px 97px;
    }

    .circle {
        transform: scale(0.5);
    }
}

@media (max-width: 650px) {
    .options {
        position: relative;
    }

    .content {
        padding-bottom: 20px;
    }

    .navigation {
        padding: 20px;
    }

    .options__edit,
    .options__delete {
        display: none;
        position: absolute;
        width: 35px;
        height: 35px;
        bottom: 40px;
        left: 2px;
        z-index: 10;
    }

    .options__edit img,
    .options__delete img {
        z-index: 10;
        position: relative;
    }

    .options__delete {
        top: 13px;
    }

    .table__head {
        z-index: 1;
    }

    .table__title,
    .table__rows {
        grid-template-columns: 25px 55px auto 30px 80px 40px 40px;
    }

    .table {
        font-size: 12px;
    }

    .options__hide-showe {
        display: block;
        z-index: 0;
    }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .table__name {
        padding: 0 5px;
        text-align: center;
    }

    .warning__page {
        padding-inline: 10px;
    }

    .warning__block {
        width: auto;
        height: auto;
    }

    .warning__main {
        font-size: 30px;
    }

}

/* ====== Live house ===============

.header__cms,
.account__name,
.navigation__block,
.navigation__block a,
a {
    color: #000;
} */


label span {
    position: absolute;
    opacity: 0;
}

/* ======= form validation ================ */


.warning__input input,
.warning__input select {
    border: 1px solid #f00;
}


.warning__input {
    animation: invalideShake 1s;
}

@keyframes invalideShake {
    0% {
        transform: translate(-1px, 0);
    }

    20% {
        transform: translate(1px, 0);
    }

    40% {
        transform: translate(-1px, 0);
    }

    60% {
        transform: translate(1px, 0);
    }

    80% {
        transform: translate(-1px, 0);
    }

    100% {
        transform: translate(1px, 0);
    }
}

.form__item {
    position: relative;
}

.warning__input::after {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    content: '!';
    width: 20px;
    top: 7px;
    right: 20px;
    position: absolute;
    height: 20px;
    background: #f00;

}

th span {
    font-weight: 400;
}



/* !=================== messenger ====================================== */
.main__title {
    font-size: 40px;
    margin: 40px 0;
}

.user {
    display: flex;
    color: #000;
    background: #cacaca;
    padding: 10px;
    align-items: center;
}

.users li {
    margin-bottom: 10px;
}

.user__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 70px;
}

.user__image img {
    width: 100%;
    height: 100%;
}

.user__name {
    font-size: 24px;
}



/* ====================================================== */
.chat {
    display: none;
    padding: 40px;
    width: 100%;
}

.massage-item {
    margin-bottom: 10px;
}

.massage-item span {
    display: inline-block;
    padding: 10px;
    background: #cacaca;
    max-width: 50%;
    border-radius: 10px;
    font-size: 24px;
}

#chat-form {
    position: absolute;
    bottom: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chat-form button {
    padding: 15px 30px;
}

#message-input {
    height: 40px;
    border: 1px solid #000;
    flex: 1 0 auto;
    margin-right: 50px;
}