@import url("./null_style.css");
@import url("./header.css");

/* =============== main ============== */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.containerr {
  margin: 0;
  margin-inline: 0;
}

.main__container {
  margin-inline: auto;
  padding-right: 30px;
}

.main__flex-box {
  display: flex;
  min-height: calc(100vh - 70px);
  align-items: stretch;
}

.content {
  flex: 1 1 auto;
  padding: 0 20px;
  display: none;
}

/* ================= navigation ====================== */

.navigation {
  flex: 0 1 150px;
  padding: 30px 60px;
}

.navigation__block {
  margin-bottom: 30px;
}

.navigation__block a {
  font-weight: 400;
  color: #333;
  font-size: 20px;
  transition: all 0.3s;
}

.navigation__block a:hover {
  text-decoration: underline;
}

/* =============== table ==================================== */
input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.main__title {
  font-size: 40px;
  margin: 40px 0;
}

.add__student {
  font-size: 30px;
  font-weight: 500;
  border: 1px solid #000;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
}

.table__container {
  height: 500px;
  overflow: auto;
}

.table {
  width: 100%;
  height: 500px;
  overflow: auto;
}

.table__title,
.table__rows {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  border-bottom: 1px solid #222222;
  border-right: 1px solid #222222;
}

.table__head,
.table__body {
  display: block;
  padding: 0;
}

.table__head {
  border-top: 1px solid #222222;
  position: sticky;
  z-index: 2;
  top: 0;
}

.table__content {
  border-left: 1px solid #222222;
  padding: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.table__head tr:first-child {
  background: #d5d6d2;
}

.table__body tr:nth-child(even) {
  background: #d5d6d2;
}

.table__body tr:nth-child(odd) {
  background: #e5e5e5;
}

.table__body tr {
  transition: all 0.5s;
}

.table__body tr:hover {
  background: #fff;
}

.table__rows .circle {
  transition: all 1s;
}

.table__rows:hover .circle {
  background: #0f0;
}

.options {
  padding: 0;
  /* z-index: 1; */
}

.options__edit {
  margin-right: 10px;
  background: #fff;
}

.options__edit,
.options__delete {
  height: 35px;
  height: 35px;
  border: 1px solid #777;
}

.options__edit img {
  padding: 10%;
}

.options__edit img,
.options__delete img {
  width: 100%;
  height: 100%;
}

.options__hide-showe {
  border: 1px solid #777;
  width: 20px;
  height: 20px;
  font-size: 16px;
  background: none;
  display: none;
}

.circle {
  border-radius: 50%;
  border: 1px solid #222222;
  width: 35px;
  height: 35px;
}

/* =================  form ========================================================== */

.warning__page,
.adding__page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: #00000083;
  z-index: 300;
}

.adding__block {
  width: 500px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #222222;
}

.warning__header,
.adding__header {
  height: 15%;
  border-bottom: 1px solid #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.warning__header h2,
.adding__header h2 {
  font-size: 30px;
  font-weight: bold;
}

.warning__header button,
.adding__header button {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.adding__form {
  height: 70%;
  padding: 10% 0;
}

.form__flex-box {
  max-width: 350px;
  margin-inline: auto;
}

.form__item {
  margin-bottom: 30px;
}

.form__item input,
.form__item select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-inline: auto;
  border: 1px solid #222222;
  padding-left: 10px;
}

.adding__footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.warning__footer button,
.adding__footer button {
  padding: 15px 30px;
  border: 1px solid #000;
}

.warning__footer button,
.adding__footer button:last-child {
  margin-left: 20px;
}

/* ================== warning =========================================== */

.warning__block {
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #222222;
}

.warning__main {
  height: 65%;
  border-bottom: 1px solid #222222;
  padding: 10% 20px;
  font-weight: 500;
  font-size: 40px;
}

.warning__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
}

th span {
  font-size: 14px;
  font-weight: 400;
}

/* ============== responsive ===================================================== */

@media (max-width: 1250px) {
  .main__flex-box {
    display: block;
  }

  .content {
    padding: 0 10px;
  }

  .adding__page {
    padding-inline: 10px;
  }

  .navigation {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
  }

  .navigation__block {
    margin: 0;
  }

  .main__container {
    padding: 0;
  }

  .main__title {
    margin: 30px 0 20px;
  }

  .table__title,
  .table__rows {
    grid-template-columns:
      50px repeat(2, calc(100% / 4 - 170px / 4)) 70px calc(100% / 4 - 170px / 4)
      50px calc(100% / 4 - 170px / 4);
  }
}

@media (max-width: 850px) {
  .main__container {
    padding: 0;
  }

  .table__title,
  .table__rows {
    grid-template-columns: 40px 65px auto 70px 100px 50px 97px;
  }

  .circle {
    transform: scale(0.5);
  }
}

@media (max-width: 650px) {
  .options {
    position: relative;
  }

  .content {
    padding-bottom: 20px;
  }

  .navigation {
    padding: 20px;
  }

  .options__edit,
  .options__delete {
    display: none;
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 40px;
    left: 2px;
    z-index: 10;
  }

  .options__edit img,
  .options__delete img {
    z-index: 10;
    position: relative;
  }

  .options__delete {
    top: 13px;
  }

  .table__head {
    z-index: 1;
  }

  .table__title,
  .table__rows {
    grid-template-columns: 25px 55px auto 30px 80px 40px 40px;
  }

  .table {
    font-size: 12px;
  }

  .options__hide-showe {
    display: block;
    z-index: 0;
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }

  .table__name {
    padding: 0 5px;
    text-align: center;
  }

  .warning__page {
    padding-inline: 10px;
  }

  .warning__block {
    width: auto;
    height: auto;
  }

  .warning__main {
    font-size: 30px;
  }
}

/* ====== Live house ===============

.header__cms,
.account__name,
.navigation__block,
.navigation__block a,
a {
    color: #000;
} */

label span {
  position: absolute;
  opacity: 0;
}

/* ======= form validation ================ */

.warning__input input,
.warning__input select {
  border: 1px solid #f00;
}

.warning__input {
  animation: invalideShake 1s;
}

@keyframes invalideShake {
  0% {
    transform: translate(-1px, 0);
  }

  20% {
    transform: translate(1px, 0);
  }

  40% {
    transform: translate(-1px, 0);
  }

  60% {
    transform: translate(1px, 0);
  }

  80% {
    transform: translate(-1px, 0);
  }

  100% {
    transform: translate(1px, 0);
  }
}

.form__item {
  position: relative;
}

.warning__input::after {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  content: "!";
  width: 20px;
  top: 7px;
  right: 20px;
  position: absolute;
  height: 20px;
  background: #f00;
}

th span {
  font-weight: 400;
}

.chat {
  padding: 40px;
  width: 100%;
}

.massage-item {
  margin-bottom: 10px;
}

.massage-item span {
  display: inline-block;
  padding: 10px;
  background: #cacaca;
  max-width: 50%;
  border-radius: 10px;
  font-size: 24px;
}

#chat-form {
  position: absolute;
  bottom: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chat-form button {
  padding: 15px 30px;
}

#message-input {
  height: 40px;
  border: 1px solid #000;
  flex: 1 0 auto;
  margin-right: 50px;
}

#username-form {
  margin-bottom: 20px;
}

.m-content {
  display: flex;
}

.content-item {
  flex: 0 1 50%;
}

.form {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.form-container {
  padding: 40px;
}

.chat li {
  margin-bottom: 15px;
}

.chat button {
  padding: 10px 20px;
  margin-left: 10px;
}

#create__room {
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
