@import url("./null_style.css");
@import url("./header.css");

/* =============== main ============== */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.main__container {
  margin-inline: auto;
  padding-right: 30px;
}

.main__flex-box {
  display: flex;
  min-height: calc(100vh - 70px);
  align-items: stretch;
}

section.task {
  flex: 1 1 auto;
  padding: 0 20px;
  margin-bottom: 50px;
  display: none;
}

/* ================= navigation ====================== */

.navigation {
  flex: 0 1 150px;
  padding: 30px 60px;
}

.navigation__block {
  margin-bottom: 30px;
}

.navigation__block a {
  font-weight: 400;
  color: #333;
  font-size: 20px;
  transition: all 0.3s;
}

.navigation__block a:hover {
  text-shadow: 1px 1px 2px #000;
  text-decoration: underline;
}

/* ======== Task bord ================= */

.display-5 {
  margin: 40px 0;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty__massage {
  display: none;
}

@media (max-width: 1250px) {
  .main__flex-box {
    display: block;
  }

  .content {
    padding: 0 10px;
  }

  .navigation {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
  }

  .navigation__block {
    margin: 0;
  }

  .main__container {
    padding: 0;
  }
}

@media (max-width: 650px) {
  .navigation {
    padding: 20px;
  }
}
